/* 타이틀 */

@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: rgb(45, 45, 45);
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem;

  color: white;
  font-family: "Pretendard-Regular";
  font-size: 24px;
}

/* 메인 */

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* 메인 컨텐츠 */

.main-content {
  margin: 0.5rem;
  display: flex;
}

/* 프론트 */

.front {
  height: 18rem;
}

.front-img {
  height: 100%;
}

/* 백 */

.ticket-back {
  position: relative;
  height: 18rem;

  transition: all 1s ease-in-out;
}
.ticket-back-img {
  height: 100%;

  opacity: 1;
}
.back-line {
  position: absolute;
  left: 0rem;

  height: 18rem;
}
