@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

body {
  font-family: "Pretendard-Regular";
}

/* 네비게이션 */
.nav {
  position: fixed;
  top: 0;
  display: flex;
  align-items: center;

  width: 100%;
  height: 3rem;
  background-color: rgb(255, 255, 255);

  z-index: 99;
}

.nav-home-container {
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;

  margin-left: 1rem;
}
.nav-home {
  width: 100%;
  height: 100%;
}

/* 히어로 */
#hero {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;

  position: relative;
}

/* 배경 */
.hero-back {
  position: absolute;

  width: 100%;
  height: 100%;
}
.hero-back-img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/* 히어로 텍스트 */
.hero-title {
  padding-top: 5rem;
  margin-right: 14rem;

  z-index: 99;
}

.hero-eng-name {
  display: flex;
  font-size: 80px;
  margin-top: 4.5rem;
  margin-left: 0rem;

  color: black;
}
.down {
  margin-left: 2rem;
}
.hero-eng-name-sub {
  font-size: 40px;
  margin-left: 8rem;

  color: black;
}

.hero-kr-name {
  display: flex;
  gap: 1rem;
  margin-left: 17rem;

  font-size: 30px;
  color: black;
}
.white {
  color: white;
}

/* 히어로 이미지 */
.hero-main {
  display: flex;
  position: absolute;
  top: 5rem;
  gap: 1rem;
  margin-left: 27rem;

  z-index: 0;
}
.hero-img {
}
.hero-text {
  margin-top: 37rem;
  text-align: right;
}
.hero-text-date {
  font-size: 30px;
  color: black;
}
.hero-text-location {
  font-size: 20px;
  color: black;
}
